* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  
} 

.contact-banner{
    background: url(../Banner-img/Contact.jpg);
    height:600px;
    margin-top: -100px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
}
.contact-banner::before{
    content: '';
  position: absolute;
  top: 0;
  height: inherit;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact-banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    width: 600px;
    position: relative;
}  

.contact-banner-content p {
    font-size: 0.8rem;
    text-transform:uppercase;
    
}
.Element img{
    margin-bottom:12px;
}
.element-i span{
    color:white;
    padding-bottom: 0px;
    padding-left: 5px;
}
.element-i{
    z-index: 2;
    position: relative;
    padding-bottom: 0px;
}
.element-i .fa-circle-notch{
    padding-bottom: 10px;

}
.Element-container{
    position: relative;
    z-index: 2;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top:-180px;
    max-width: 90%;
}
.Element{
    width: 340px;
    height:200px;
    text-align: center;
    padding-top: 30px;
    background:#15171e;
    margin:10px;
    border:1px solid #5a5858;
}
.Element h3{
    color:gray;
    font-size: 15px;
    text-transform: uppercase;
}
.Element p{
    margin-bottom: 7px;
    font-family: sans-serif;
    font-weight: 700;
}

 
.img-box-container{
    display: flex;
    padding: 20px;
    max-width:100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .img-box img {
    height: auto;
    width: 700px;
    border-radius: 8px;
  }
.text-box{
    margin-left: 70px;
}
  
  .text-box h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    
  }
  
  .text-box p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.6;
  }
  

  @media screen and (max-width:600px) {

  .Element-container{
    flex-wrap: wrap;
    max-width: 100%;
    padding:20px;
}
  .Element{
    width: 100%;
  }
.contact-banner-content h1{
    width: 100%;
    font-size: 29px;
}
.img-box-container{
    flex-wrap: wrap;
}
.img-box-container img{
    width: 100%;
}
.text-box{
    margin-left: 0px;
}
.text-box h1{
    font-size: 1.1rem;
}
.text-box p{
    font-size:9px;
}

  }